@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title - @System.Configuration.ConfigurationManager.AppSettings["SchoolName"]</title>

    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="your,keywords">
    <meta name="description" content="Short explanation about this website">
    <!-- END META -->
    <!-- BEGIN STYLESHEETS -->
    
    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/Content/fullcalendarcss")*@
   
    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/modernizr")

    <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
    <link type="text/css" rel="stylesheet" href="~/assets/css/theme-default/bootstrap.css?1422792965"/>
    <link type="text/css" rel="stylesheet" href="~/assets/css/theme-default/materialadmin.css?1425466319"/>
    <link type="text/css" rel="stylesheet" href="~/assets/css/theme-default/font-awesome.min.css?1422529194"/>
    <link type="text/css" rel="stylesheet" href="~/assets/css/theme-default/material-design-iconic-font.min.css?1421434286"/>
    <link type="text/css" rel="stylesheet" href="~/assets/css/theme-default/libs/summernote/summernote.css?1425218701"/>
    <link type="text/css" rel="stylesheet" href="~/assets/css/theme-default/libs/rickshaw/rickshaw.css?1422792967"/>
    <link type="text/css" rel="stylesheet" href="~/assets/css/theme-default/libs/morris/morris.core.css?1420463396"/>

    <link href="~/Content/Site.css" rel="stylesheet" />
   
    <!-- END STYLESHEETS -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script type="text/javascript" src="../../assets/js/libs/utils/html5shiv.js?1403934957"></script>
        <script type="text/javascript" src="../../assets/js/libs/utils/respond.min.js?1403934956"></script>
    <![endif]-->
</head>
<body class="menubar-hoverable header-fixed menubar-pin ">
   
<!-- BEGIN HEADER-->
<header id="header">
    <div class="headerbar">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="headerbar-left">
            <ul class="header-nav header-nav-options">
                <li class="header-nav-brand">
                    <div class="brand-holder">
                        <a href="#">
                            @{
                                var schoolImage = @System.Configuration.ConfigurationManager.AppSettings["SchoolImage"];
                            }
                            <img class="img-circle" src="~/Content/Images/@schoolImage"/>
                            @*<span class="text-lg text-bold text-primary">@System.Configuration.ConfigurationManager.AppSettings["SchoolName"]</span>*@
                        </a>
                    </div>
                </li>
                @*<li>
                    <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>*@
            </ul>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="headerbar-right">
                
            <ul class="header-nav header-nav-options">
                @if (!Request.IsAuthenticated)
                {
                    @*<li>@Html.ActionLink("Staff Registration", "RegisterStaff", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Student Registration", "RegisterStudent", "Account", routeValues: null, htmlAttributes: new { id = "registerLink"} )</li>*@
                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

                }
            </ul><!--end .header-nav-options -->
            <ul class="header-nav header-nav-profile">

                @if (Request.IsAuthenticated)
                {
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
                               
                            @if (User.IsInRole("Student"))
                            {
                                <img src="@Url.Action("RenderImage", "Students", new { studentId = User.Identity.GetUserName()})" width="100" height="100" />
                                <span class="profile-info">
                                    Hi, Student
                                    <small>@User.Identity.GetUserName()</small>
                                </span>
                            }
                            else
                            {
                                <span class="profile-info">
                                    Hi,
                                    <small>@User.Identity.GetUserName()</small>
                                </span>
                            }

                        </a>
                        <ul class="dropdown-menu animation-dock">
                            @*<li class="dropdown-header">Config</li>*@
                            <li>@Html.ActionLink("Manage Profile", "Index", "Manage")</li>
                            <li>@Html.ActionLink("Change Password", "ChangePassword", "Manage")</li>
                            @*<li><a href="../../html/pages/calendar.html">School Events</a></li>
                            <li class="divider"></li>
                            <li><a href="../../html/pages/locked.html"><i class="fa fa-fw fa-lock"></i> Lock</a></li>*@
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                    
                                <li><a href="javascript:document.getElementById('logoutForm').submit()"> <i class="fa fa-fw fa-power-off text-danger"></i> Logout</a></li>
                            }

                        </ul><!--end .dropdown-menu -->
                    </li><!--end .dropdown -->
                }
                else
                {
                        
                }
            </ul><!--end .header-nav-profile -->
            
        </div><!--end #header-navbar-collapse -->
    </div>
</header>
<!-- END HEADER-->



<!-- BEGIN CONTENT-->
<div id="content">

    <!-- BEGIN BLANK SECTION -->
    <section>
               
        <div class="section-body">
            @RenderBody()
        </div><!--end .section-body -->
    </section>

    <!-- BEGIN BLANK SECTION -->
</div><!--end #content-->
<!-- END CONTENT -->







<!-- END BASE -->
<!-- BEGIN JAVASCRIPT -->

<script src="~/assets/js/libs/jquery/jquery-1.11.2.min.js"></script>
<script src="~/assets/js/libs/ckeditor/ckeditor.js"></script>
<script src="~/assets/js/libs/ckeditor/adapters/jquery.js"></script>
<script src="~/assets/js/libs/summernote/summernote.min.js"></script>


<script src="~/assets/js/core/source/AppNavigation.js"></script>
<script src="~/assets/js/core/demo/DemoFormEditors.js"></script>





@*<script type="text/javascript">


        //Call the method on pageload
        $(window).load(function () {
           // window.alert(5 + 6);
            var i = "@TempData["UserMessage"]";
            //window.alert(i);
            //Disply the modal popup
            if (i) {
                $('#simpleModal').modal('show');
            }

        });
    </script>*@


<script>
    history.pushState(null, document.title, location.href);
    window.addEventListener('popstate', function (event)
    {
        history.pushState(null, document.title, location.href);
    });

    var i = "@TempData["UserMessage"]";
   
    @*// window.alert(i);
      //alertify.success('@TempData["UserMessage"]');

      //Disply the modal popup*@
    var check = '@TempData["Title"]'.localeCompare('Success.');
    var check2 = '@TempData["Title"]'.localeCompare('Error.');
    var check3 = '@TempData["Title"]'.localeCompare('Default.');
    if (check === 0) {
        alertify.success('@TempData["UserMessage"]');
    } else if(check2 === 0) {
        alertify.error('@TempData["UserMessage"]');
    }
    else if (check3 === 0) {
        alertify.deafult('@TempData["UserMessage"]');
    }


</script>
   
<!-- END JAVASCRIPT -->
@Scripts.Render("~/bundles/jquery")
@*@Scripts.Render("~/bundles/fullcalendarjs")*@

@RenderSection("scripts", required: false)
</body>
</html>
