@model IEnumerable<ExamSolutionModel.CBTE.ExamRule>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Level.LevelName)
        </th>*@
        <th>
           Exam Type
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScorePerQuestion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalQuestion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaximumTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course.CourseName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Level.LevelName)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.ResultDivision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScorePerQuestion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalQuestion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaximumTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ExamRuleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ExamRuleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ExamRuleId })
        </td>
    </tr>
}

</table>
